*{
  margin: 0;
}
body{
  background: black;
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}
#pepe{
  width: 1200px;
  margin: 0 auto;
}
header{
  padding: 5px auto;
  background-color: #5b7989;
 color: white;
  border-radius: 10px;
  width: 99.5%;
  display: flex;
  flex-direction:row;
  text-align: left;
}
header img{
  text-align: left;
  width: 10%;
  margin: 20px;
  height: 10%;
  -webkit-box-shadow: 11px 9px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 9px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 11px 9px 5px 0px rgba(0,0,0,0.75);
 border-radius: 10px;

}
header h1{
  border: 3px;
  padding: 28px;
}
header nav{
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}
header nav ul{
  overflow: hidden;
  list-style: none;
}
header nav ul li{
  float: left;
  color: #ffff;
  text-align: left;
  border: 3px auto;
  padding: 5px;
}
header nav ul li a{
  color: #ffff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: center;
}
header nav ul li a:hover{
  background: #13ADEB;
  radius: 10px;

}
article{
  box-sizing: border-box;
  float: left;
  height: 100%;
  background-color: grey;
  padding: 2%;
  border: 0px;
  text-align: center;
  height: 400px;
}
#columna1{
  background-color: #EBF166;
  width: 33.33333333%
}
#columna2{
  background-color: #EBF166;
  width: 33.33333333%;
}
#columna3{
  background-color: #EBF166;
  width: 33.33333333%;
  }
  #columna4{
    background-color: #EBF166;
    width: 33.33333333%
  }
  #columna5{
    background-color: #EBF166;
    width: 33.33333333%;
  }
  #columna6{
    background-color: #EBF166;
    width: 33.33333333%;
    }
  #columna7{
    background-color: #C6d5c5;
    width: 25%;
  }
  #columna8{
    background-color: #C6d5c5;
    width: 25%;
}
    #columna9{
  background-color: #C6d5c5;
  width: 25%;
}
#columna10{
  background-color: #C6d5c5;
  width: 25%;
}

#columna1 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#columna2 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#columna3 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#columna4 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#columna5 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#columna6 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#columna7 img{
  padding: 30px;
  text-align: center;
  width: 88%;
}
#texto h1{
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  text-decoration: underline;
}
#texto p{
  text-align: left;
  font-size: 20px;
  font-family: cursive;
}
#columna7{

  height: 100%;
  background-color: #CCB20A;
  padding: 2%;
  text-align: center;
  height: 300px;
  border-radius: 0px 0px 0px 57px;
-moz-border-radius: 0px 0px 0px 57px;
-webkit-border-radius: 0px 0px 0px 57px;
border: 0px solid #000000;
}
#columna8{
  height: 100%;
  background-color: #CCB20A;
  padding: 2%;
  text-align: center;
  height: 300px;
}
#columna9{
  height: 100%;
  background-color: #CCB20A;
  padding: 2%;
  text-align: center;
  height: 300px;
}
#columna10{
  height: 100%;
  background-color: #CCB20A;
  padding: 2%;
  text-align: center;
  height: 300px;
  border-radius: 0px 0px 57px 0px;
-moz-border-radius: 0px 0px 57px 0px;
-webkit-border-radius: 0px 0px 57px 0px;
border: 0px solid #000000;
}

footer{
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  color: white;

}
@media screen and (max-width: 800px){
   #pepe{
     width: 93%;
     margin: 0 auto;
   }
   #columna1{
     width:33.33333333%
   }
   #columna2{
     width: 33.33333333%;
   }
   #columna3{
     width:33.33333333%
   }
 }
 #columna4{
   width:33.33333333%
 }
 #columna5{
   width: 33.33333333%;
 }
 #columna6{
   width:33.33333333%
 }
   #columna7{
     width:25%
   }
   #columna8{
     width: 25%;
   }
   #columna9{
     width:25%
   }
   #columna10{
     width:25%
 }

   header{
     width: 100%
   }
 }
}
@media screen and (max-width: 800px){
   #pepe{
     width: 93%;
     margin: 0 auto;
   }
   #columna1{
     width:100%
   }
   #columna2{
     width: 100%;
   }
   #columna3{
     width:100%
   }
   #columna4{
     width:100%
   }
   #columna5{
     width: 100%;
   }
   #columna6{
     width:100%
   }
   #columna7{
     width:50%
 }
 #columna8{
   width:50%
 }
 #columna9{
   width: 50%;
 }
 #columna10{
   width:50%
 }

   header{
     width: 100%
   }
 }
}
@media screen and (max-width: 640px){
  #pepe{
    width: 100%;
    margin: 0 auto;
  }
  #columna1{
    width:100%
  }
  #columna2{
    width: 100%;
  }
  #columna3{
    width:100%
  }
  #columna4{
    width:100%
  }
  #columna5{
    width: 100%;
  }
  #columna6{
    width:100%
  }
  #columna7{
    width:50%
  }
  #columna8{
    width:50%
  }
  #columna9{
    width: 50%;
  }
  #columna10{
    width:50%
  }
  header{
    width: 100%
  }
}

@media screen and (max-width: 400px){
  #pepe{
    width: 100%;
    margin: 0 auto;
  }

  #columna1{
    width:100%
  }
  #columna2{
    width: 100%;
  }
  #columna3{
    width:100%
  }
  #columna4{
    width:100%;
  }
  #columna5{
    width: 100%;
  }
  #columna6{
    width:100%
  }
  #columna7{
    width:50%
  }
  #columna8{
    width: 50%;
  }
  #columna9{
    width:50%
  }
  #columna10{
    width:50%
  }
  header{
    width: 100%
  }
}
#columna1 img{
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}

#columna2 img{
	-webkit-filter: sepia(100%); /* Chrome, Safari, Opera */
	filter: sepia(100%);
}

#columna3 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: drop-shadow(90%);
}

#columna4 img{
	-webkit-filter: sepia(100%); /* Chrome, Safari, Opera */
	filter: sepia(100%);
}


#columna6 img{
	-webkit-filter: sepia(100%); /* Chrome, Safari, Opera */
	filter: sepia(100%);
}
